/*
 * Empty Stylesheet file.
 */

.pageApplication{
    -fx-background-color:#FFFFFF; 
    -fx-background-radius: 20px 20px 20px 20px;
}


.Applicationlkol{
    -fx-background-color:transparent;
    -fx-background-radius: 3em;
}


.text-field .text {
    -fx-effect: dropshadow( two-pass-box , white , .5, 10 , 1 , 1); 
}

.combo-box-base .text{
    -fx-fill: rgb(130.0, 130.0, 130.0);
}

.pageApplication{
    -fx-background-color:#FFFFFF; 
    -fx-background-radius: 20px 20px 20px 20px;
}

.pageLogin{
    -fx-background-color:  linear-gradient(to right top, #039BE5 , #4DD0E1);
    -fx-background-radius:2em;
}

.button-inscription {
    -fx-background-color: #166FE5;
}
.button-login {
    -fx-background-color: #36A420;
}

.navbarLogin{
   -fx-background-radius: 20px 20px 20px 20px;
   /*-fx-opacity:0.9;*/
   -fx-background-color:#FFFFFF; 
}

.backgroundLogin{
   -fx-background-color:#F0F2F5; 
   -fx-background-radius: 20px 20px 20px 20px;
}

.btn{
    -fx-background-color:#4CAF50;
    -fx-background-radius: 5em;    
    -fx-color: #ff1744;
}
/* *//*HomeAdmin*//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//*HomeAdmin*/ 
.NbUser{ /*Orangé*/
    -fx-background-color:  linear-gradient(to right top, #fc4a1a , #f7b733);
    -fx-background-radius:1em;
}
.UserTypeUser{ /*Azre9*/
    -fx-background-color:  linear-gradient(to right top, #56CCF2 , #2F80ED); 
    -fx-background-radius:1em;
}
.UserTypeAdmin{ /*Violet*/
    -fx-background-color:  linear-gradient(to right top, #f2709c , #ff9472);
    -fx-background-radius:1em;
}
.VerifiedUser{ /*Violet*/
    -fx-background-color:  linear-gradient(to right top, #614385 , #516395);
    -fx-background-radius:1em;
}
.NotVerifiedUser{ /*Violet*/
    -fx-background-color:  linear-gradient(to right top, #EB3349 , #F45C43);
    -fx-background-radius:1em;
}
.StatAdmin{ /*Violet*/
    -fx-background-color:  linear-gradient(to right top, #76b852 , #8DC26F);
    -fx-background-radius:1em;
}
.LastAdded{ /*Violet*/
    -fx-background-color:  linear-gradient(to right top, #136a8a , #267871);
    -fx-background-radius:1em;
}
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
.table-view {
    -fx-background-color: white;
}

.table-cell {
    -fx-border-color: transparent; 
}

.table-view .column-header, 
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: white;
}

.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-text-fill: -secondary;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-text-fill: #000000;
    -fx-font-size: 15;
    -fx-alignment: CENTER_LEFT;
}
.table-view .table-row-cell:selected{
    -fx-background-color: #005797;
} 
.table-row-cell:selected {
    -fx-background-color: #005797;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.iconbar{
    -fx-background-color: linear-gradient(to right top, #039BE5 , #4DD0E1);
    -fx-background-radius: 50px 50px 50px 50px;
}

.sidebar{
    -fx-background-color:  linear-gradient(to right top, #02aab0 , #00cdac);
    -fx-background-radius: 0px 30px 20px 0px;
    -fx-opacity: 0.9;
}

.titreReclamation
{   
    -fx-background-color: #005797;
    -fx-background-radius: 3em;
}

.PageModifierRec
{
    -fx-background-color: transparent;
    -fx-background-radius: 50;        
}

.formReclamation{
    -fx-background-color:#fff;
    -fx-background-radius: 3em;
}


.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #005797;
    -fx-border-color: grey;
    -fx-border-width: 0px 0px 3px 0px;  
}

.tab:selected {
    -fx-border-color: red;
    -fx-border-width: 0px 0px 2.5px 0px;
}

.tab-label {
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 140;
}

.card{
    -fx-padding: 13px;
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-effect:  dropshadow(three-pass-box, gray, 10, 0, 0, 0);
}

.card:hover{
    -fx-effect:  dropshadow(three-pass-box, gray, 22, 0, 0, 0);
}

.card:hover .card-header{
    -fx-text-fill: orangered;
}

.card:hover .card-btn-delete{
    -fx-text-fill: #fff;
    -fx-background-color: red;
    -fx-effect: dropshadow(one-pass-box,gray,15,0,0,0);
}

.card-header{
    -fx-font-size:17px;
    
}

.sami{

    -fx-background-color: #28AC6A;  
}




.jfx-text-field {
    -fx-font-size: 14;
    -fx-accent: #28AC6A;
    -jfx-focus-color: #28AC6A;
    -jfx-unfocus-color: #28AC6A;
}

.jfx-text-field-login {
    -fx-font-size: 16;
    -fx-accent: #28AC6A;
    -jfx-focus-color: #28AC6A;
    -jfx-unfocus-color: #28AC6A;
}

.text-field-search {
    -fx-background-color: white;
    -fx-font-size: 12;
    -fx-accent: #28AC6A;
}

.error-label {
    -fx-font-size: 10pt;
}

.button-general {
    -fx-background-color: #28AC6A;
    -fx-font-size: 16;
}

.button-general .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-close {
    -fx-background-color: none;
    -fx-fill: #28AC6A;
}

.button-close .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-close:hover .glyph-icon {
    -fx-fill: black;
}

.main-view-button {
    -fx-background-color: #2d3037;
    -fx-text-fill: white;
}

.main-view-button .jfx-rippler {
    -jfx-rippler-fill: none;
}

.main-view-button:hover .glyph-icon,
.main-view-button:pressed .glyph-icon {
    -fx-background-color: #76787c;
    -fx-fill: white;
}

.button-administrador {
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.button-administrador .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-user {
    -fx-background-color: #4A86FF;
    -fx-text-fill: white;
}

.button-user .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-no {
    -fx-pref-height: 15px;
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.button-no .jfx-rippler { 
    -jfx-rippler-fill: none;
}

.button-yes {
    -fx-pref-height: 15px;
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.button-yes .jfx-rippler {
    -jfx-rippler-fill: none;
}


.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-alignment: CENTER_LEFT;
        -fx-text-fill: #005797;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-font-size: 15;
    -fx-alignment: CENTER_LEFT;
}


.action-button {
    -fx-font-size: 12;
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.action-button .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-cancel {  
    -fx-font-size: 12;
    -fx-background-color: white;
    -fx-border-color: #28AC6A;
}

.button-cancel .jfx-rippler {
    -jfx-rippler-fill: none;
}

.button-delete {

    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.button-delete .jfx-rippler {
    -jfx-rippler-fill: none;
}

.menu-item .label {
    -fx-text-fill: grey;
    -fx-fill: black;
    -fx-font-size: 15;
}

.menu-item:hover, 
.menu-item:focused, 
.menu-item:focused .label {
    -fx-background-color: #28AC6A;  
    -fx-text-fill: white;
    -fx-fill: black;
}

.menu-item:hover .glyph-icon, 
.menu-item:focused .glyph-icon {
    -fx-background-color: #28AC6A;  
    -fx-text-fill: white;
    -fx-fill: white;
}

.jfx-date-picker {
    -jfx-default-color: #28AC6A;
    -fx-font-size: 14;
}

.jfx-date-picker .arrow-button .arrow {
    -fx-background-color: white;
}

.jfx-date-picker .cell:focused {
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.jfx-date-picker .cell:hover {
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.jfx-svg-glyph {
    -fx-shape: "M328.139,32.267h-2.941v-2.11C325.197,13.527,311.668,0,295.041,0c-16.627,0-30.156,13.527-30.156,30.157v2.11h-34.73   v-2.11C230.154,13.527,216.625,0,200,0c-16.627,0-30.156,13.527-30.156,30.157v2.11h-34.73v-2.11   C135.113,13.527,121.584,0,104.957,0C88.332,0,74.803,13.527,74.803,30.157v2.11h-2.943c-24.789,0-44.887,20.096-44.887,44.886   v277.962c0,24.79,20.098,44.886,44.887,44.886h256.279c24.789,0,44.889-20.096,44.889-44.886V77.152   C373.027,52.362,352.93,32.267,328.139,32.267z M286.816,30.157c0-4.536,3.689-8.224,8.225-8.224c4.535,0,8.223,3.688,8.223,8.224   v40.127c0,4.534-3.688,8.223-8.223,8.223c-4.535,0-8.225-3.689-8.225-8.223V30.157z M191.777,30.157   c0-4.536,3.688-8.224,8.223-8.224s8.223,3.688,8.223,8.224v40.127c0,4.534-3.688,8.223-8.223,8.223s-8.223-3.689-8.223-8.223   V30.157z M96.736,30.157c0-4.536,3.686-8.224,8.221-8.224c4.535,0,8.227,3.688,8.227,8.224v40.127c0,4.534-3.691,8.223-8.227,8.223   c-4.535,0-8.221-3.689-8.221-8.223V30.157z M337.117,353.453c0,5.867-4.029,10.639-8.978,10.639H71.859   c-4.949,0-8.977-4.771-8.977-10.639V118.955h274.234V353.453z";
}

.jfx-combo-box {  
    -fx-accent: #28AC6A;
    -fx-font-size: 14;
    -fx-background-color: transparent;
    -jfx-focus-color: #28AC6A;
    -jfx-unfocus-color: #28AC6A;
}

.jfx-combo-box .jfx-rippler {
    -jfx-rippler-fill: none;
}

.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-radius: 10;
    -fx-background-color: white;
}


.alert-error-button {
    -fx-background-color: #28AC6A;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
    -fx-font-size: 15;
}

.alert-error-button .jfx-rippler {
    -jfx-rippler-fill: none;
}

.alert-error-title {
    -fx-fill: -delete;
    -fx-font-size: 30;
}

.alert-error-body {
    -fx-fill: -delete;
    -fx-font-size: 15;
}

.alert-success-button {
    -fx-background-color: #28AC6A;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
    -fx-font-size: 15;
}

.alert-success-button .jfx-rippler {
    -jfx-rippler-fill: none;
}

.alert-success-title {
    -fx-font-size: 30;
}

.alert-success-body {
    -fx-fill: #28AC6A;
    -fx-font-size: 15;
}

.password-field-cell {
    -fx-background-color: transparent;
    -fx-text-fill:  black;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
}

.table-row-cell:selected .password-field-cell {
    -fx-background-color:  #28AC6A;
    -fx-text-fill:  white;
}

.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background {
    -fx-background-color: rgb(230.0, 230.0, 240.0);
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
    -fx-background-color: rgb(158, 158, 158 );
    -fx-background-insets: 0.0;
    -fx-background-radius: 4.0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar>.track-background {
    -fx-background-color: transparent;
}

.button-context-menu {
    -fx-background-color: white;
    -fx-text-fill: #28AC6A;
    -fx-font-size: 15;
    -fx-pref-height: 32.5px;
    -fx-pref-width: 100px;
}

.button-context-menu  .glyph-icon {
    -glyph-size: 20;
    -fx-fill: #28AC6A;
}

.button-context-menu:hover,
.button-context-menu:pressed {
    -fx-background-color: #28AC6A;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-pref-height: 32.5px;
    -fx-pref-width: 100px;
}

.button-context-menu:hover .glyph-icon, 
.button-context-menu:pressed .glyph-icon {
    -fx-fill: white;
}

.button-context-menu .jfx-rippler {
    -jfx-rippler-fill: none;
}

.fezza{
    -fill: #737989;  
}

.button.fezza{
    -fx-background-color: linear-gradient(to right top, #E0E4EB, #DFE2E6);
    -fx-background-radius: 25;
}
.button.fezza:hover{
        -fx-background-color:#E94057;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}


.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-pane > .viewport {  
   -fx-background-color: transparent;
}
.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.rating > .container > .button {
  -fx-background-image: url("/resources/media/koraUnselected.png");
}

.rating > .container > .button.strong {
  -fx-background-image: url("/resources/media/koraSelected.png");
}


.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}
 
.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}



.default-color0.chart-pie { -fx-background-color: linear-gradient(to right top, #56CCF2 , #2F80ED) ;  } 
.default-color1.chart-pie { -fx-background-color: linear-gradient(to right top, #f2709c , #ff9472) ; }


.default-color0.chart-bar {-fx-bar-fill: #FFFFFF;}
.default-color0.chart-bar {-fx-bar-fill: #FFFFFF;}
 
.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: #FFFFFF;
    -fx-font-size: 1em;
} 
.chart-legend {
   -fx-background-color:  #fafad2;
   -fx-stroke: #daa520;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 5;
}
 
.chart-legend-item{
   -fx-text-fill: #000000;
}

.chart-plot-background {
    -fx-background-color: transparent
}
.axis {
    -fx-font-size: 1.4em; 
    -fx-tick-mark-stroke : #FFFFFF;
    -fx-label-fill:#000000;
    -fx-tick-label-fill: #FFFFFF;
    -fx-font-family: Calibri;
    -fx-font-weight : bolder;
    -fx-tick-label-font-weight : bolder;
}
.xychart{-fx-plot-background-fill: #FFFFFF;
-fx-plot-background-stroke : #FFFFFF;
-fx-plot-background-stroke-width :5;}
 
.axis-label {
   -fx-text-fill: #000000; 
}
.chart-series-line {    
    -fx-stroke-width: 4px;
}
 
.default-color0.chart-series-line { -fx-stroke: #FFFFFF; }

.default-color0.chart-line-symbol { -fx-background-color: #FFFFFF; }

.chart{-fx-chart-background-stroke : #FFFFFF;	 
-fx-chart-background-stroke-width : 5;}

.ma-progress-bar>.track {


        -fx-background-color:#18f47f;

	-fx-background-radius: 2.0;

	-fx-padding: 0.0;
}


.ma-progress-bar>.bar {
	
-fx-background-color: #FFFFFF;
	
-fx-background-radius: 2.0;
	
-fx-background-insets: 0.0;
        
	
-fx-border-width: 0.0;
	
-fx-effect: null;
}




.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;

    -fx-padding: 0 0 3 0;   
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #007cff;
    -fx-font-size: 30px;
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #bdbdbd;
} 